extends layout

block content
  .jumbotron(style="background:#fff; margin-bottom:0; margin-top:0; ")
    .container#edit_job_title
      center
        h1 #{title}
        br
    .container#edit_jobs
      center
        form.edit_job(method='POST', action='/jobs/edit/'+job._id)
          .form-group
            label Title:
            input.form-control.form-input(name='title', type='text', value=job.title)
          .form-group
            label Posted By:
            input.form-control.form-input(name='postedby', type='text', value=job.postedby)
          .form-group
            label Body:
            textarea.form-control.form-input(name='body')= job.body
          .form-group
            label Amount:
            input.form-control.form-input(name='amount', type='text', value=job.amount)
          br  
          input.btn.login-btn.btn-animation(type='submit', value="Submit")
  footer
    br
    .container
      center
        table
          tr
            td
              .icon.social.fb
                i.fa.fa-facebook
            td
              .icon.social.in
                i.fa.fa-linkedin
            td
              .icon.social.tw
                i.fa.fa-twitter
    br
    .container 
      .row
        .col
          p this a text
        .col
          p this a text
        .col
          p this a text
        .col
          p this a text

    hr
    .container
      center
        | copyright done 2018
    br